/* Import font lokal */
@font-face {
  font-family: 'PoppinsCustom';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Import font Pertivina Dex */
@font-face {
  font-family: 'Pertivina Dex';
  src: url('./assets/fonts/PertivinaDex.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DS-DIGIB';
  src: url('./assets/fonts/DS-DIGIB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebasNeue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'contrax';
  src: url('./assets/fonts/contrax.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nasa';
  src: url('./assets/fonts/nasa.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'digital';
  src: url('./assets/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Navbar custom font */
.navbar, .navbar-brand, .nav-link {
  font-weight: bold;
  letter-spacing: 1px;
}

/* Optional: Style tambahan */
body {
  min-height: 100vh;
  background-image: url('./assets/image/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PoppinsCustom', 'Segoe UI', Arial, sans-serif;
}